.flight-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.flight-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.flight-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.flight-card .section {
  display: flex;
  justify-content: space-between;
}

.flight-card .section-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  border-right: 1px dotted #ddd;
}

.flight-card .section-center {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  margin: 0 50px;
}

.flight-card .section-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 2px solid #ddd;
}

.flight-card .section-left h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.flight-card .section-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.flight-card .section-center .time-info {
  text-align: center;
}

.flight-card .section-center .location {
  font-size: 0.9rem;
  color: #555;
}

.flight-card .section-center .time {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.flight-card .section-center .flight-duration {
  font-size: 0.9rem;
  font-weight: bold;
  color: gray;
}

.flight-card .section-right .price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #e74c3c;
  margin-bottom: 5px;
}

.flight-card .section-right .seats {
  font-size: 0.9rem;
  color: #555;
}
